In [9]:
import pandas as pd, numpy as np
import random,requests
from bs4 import BeautifulSoup
from faker import Faker
import uuid

import math as m
from random import randrange
#initialize Faker
fake=Faker()

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import random
from dateutil import relativedelta
from datetime import datetime

rd = random.Random()
rd.seed(0)

# fake.seed(1)

In [2]:
## Get all the stock symbols and users from snowflake
from snowflake.snowpark.session import Session
from snowflake.snowpark import functions as F
from snowflake.snowpark.types import *
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
from snowflake.snowpark.functions import udf
%matplotlib inline
import datetime as dt
import numpy as np
import seaborn as sns
import json
import boto3  

# to divide train and test set
from sklearn.model_selection import train_test_split

# feature scaling
from sklearn.preprocessing import MinMaxScaler
import snowflake.connector
# to save the trained scaler class
import joblib

snowflake_conn_prop = {
   "account": "se58322-fsesg",
   "user": "Muhammad Nauman",
   "password": "Numan98Khan",
   "role": "DEVELOPER",
   "database": "DL_ESG_DEV",
   "schema": "CUSTOMER",
   "warehouse": "WH_ESG_SUSTAINABILITY",
}

from snowflake.snowpark import version
print(version.VERSION)


connection_paramter = snowflake.connector.connect(account = "se58322-fsesg",
                        user="Muhammad Nauman",
                        password="Numan98Khan",
                        role="DEVELOPER",
                        warehouse="WH_ESG_SUSTAINABILITY",
                        ocsp_fail_open=False)

session = Session.builder.configs(snowflake_conn_prop).create()
print(session.sql('select current_warehouse(), current_database(), current_schema()').collect())

qry = 'SELECT * FROM DL_ESG_DEV.ESG.TRIAL_SCO_ESG_262'
esg_df = pd.read_sql(qry, connection_paramter)

qry = 'SELECT * FROM DL_ESG_DEV.ESG_CONFIGURATION.USER_TABLE'
user_df = pd.read_sql(qry, connection_paramter)

qry = 'SELECT * FROM DL_ESG_DEV.CUSTOMER.CUSTOMER'
cust_df = pd.read_sql(qry, connection_paramter)

(1, 0, 0)
[Row(CURRENT_WAREHOUSE()='WH_ESG_SUSTAINABILITY', CURRENT_DATABASE()='DL_ESG_DEV', CURRENT_SCHEMA()='CUSTOMER')]

/var/folders/nr/vyfq21gx5pn1p0025dclx97c0000gn/T/ipykernel_24195/3808836690.py:50: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  esg_df = pd.read_sql(qry, connection_paramter)
/var/folders/nr/vyfq21gx5pn1p0025dclx97c0000gn/T/ipykernel_24195/3808836690.py:53: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  user_df = pd.read_sql(qry, connection_paramter)
/var/folders/nr/vyfq21gx5pn1p0025dclx97c0000gn/T/ipykernel_24195/3808836690.py:56: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cust_df = pd.read_sql(qry, connection_paramter)

In [7]:
# user_df
# esg_df

df = cust_df.copy()

In [47]:
cus_ids = []
port_ids = []
user_ids = []

fnames=[]
lnames=[]
emails=[]
genders=[]
ages=[]

n_names=100
for n in range(n_names):
# for user in user_df['USERNAME'].to_numpy():
    gender = np.random.choice(["M", "F"], p=[0.5, 0.5])
    genders.append(gender)
    
    if gender == 'F':
        fn = fake.first_name_female()
    else:
        fn = fake.first_name_male()
        
    ln = fake.last_name()
    
    fnames.append(fn)
    lnames.append(ln)
    emails.append(f"{fn}.{ln}@{fake.domain_name()}")
    
    ages.append(randrange(18, 90))
    
    cus_ids.append(fake.uuid4())

    #     cus_ids.append(uuid.UUID())
    port_ids.append(fake.uuid4())
    
    # user_ids.append(user)
    
    
# variables=[cus_ids, user_ids, fnames,lnames, emails, genders, ages, port_ids]
variables=[cus_ids, fnames,lnames, emails, genders, ages, port_ids]

df=pd.DataFrame(variables).transpose()

# df.columns=["C_ID", "USERNAME", "FIRST_NAME", "LAST_NAME", "EMAIL", "GENDER", "AGE","PORTFOLIO_ID"]
df.columns=["C_ID", "FIRST_NAME", "LAST_NAME", "EMAIL", "GENDER", "AGE","PORTFOLIO_ID"]

# df["Customer Address"]=df["Customer Address"].str.replace("\n",",")

df

                                    C_ID FIRST_NAME LAST_NAME                            EMAIL GENDER AGE                          PORTFOLIO_ID
0   b60327df-f386-43d7-b98e-d5ea6f43ed04      Vicki     Green       Vicki.Green@terry-shaw.com      F  48  d01ecd63-04a9-4778-8b77-ea623266a181
1   ea88a059-8c5e-4e1b-a9d9-e1406caeb623     Lauren    Berger   Lauren.Berger@fisher-gray.info      F  72  ee6dfba9-c9f0-4cf6-bee5-71f7f02eabb2
2   9a35b313-454f-4bbb-a99b-ba6f38b140ef     Joseph   Hensley     Joseph.Hensley@king-king.net      M  20  2d763939-715d-48a2-a49c-3b442c2f7ff5
3   12a54d57-dc30-4614-a4a6-44f0d04bcfad    Chelsea    Brooks  Chelsea.Brooks@lewis-warren.com      F  59  e06b13de-b95a-43bb-bf23-fdc59cc86ecd
4   43b8bdad-3c6b-406d-ac35-c5a05c36a2ca     Ronald   Coleman       Ronald.Coleman@fuller.info      M  39  25636b66-b2ae-4abd-b144-1fc0e1a11bd7
..                                   ...        ...       ...                              ...    ...  ..                                   ...
95  fc728d40-fe81-49d3-9ada-8f91b53c615b     Austin   Wheeler        Austin.Wheeler@parker.com      M  45  246da041-e892-42db-8377-da02bee56da5
96  18f87331-5128-4bb5-94c2-9d4e08f41a34    William    Conway     William.Conway@williams.info      M  47  48adac0c-0654-48ce-812e-879880b03489
97  654e4327-9747-4843-a616-53766c562b7d   Kathleen   Jackson     Kathleen.Jackson@woodard.com      F  78  ceaffd5a-51b0-4912-a6a8-b9ce020413a9
98  c336f884-6762-4f26-845e-d4f2b26ff1ba     Bonnie    Morgan         Bonnie.Morgan@norris.com      F  70  951ffe11-a235-4937-9633-03d53c550be2
99  5dd56b07-cb02-4a6a-826e-31e031093a4a    Jeffery     Smith   Jeffery.Smith@jones-wright.com      M  40  2ca52493-266c-47cf-94ef-109be4c581d0

[100 rows x 7 columns]

In [50]:
# df['C_ID'].to_numpy()
random_ids = np.random.choice(df['C_ID'].to_numpy(), 6)
random_ids

array(['63e70e8e-0db1-4ccf-bfe3-3d00efd7cf9d',
       '06d51510-09ac-4c09-bb42-8b1315c69db6',
       'a6abe1a6-2638-4ca8-9805-45c05f172426',
       '12a54d57-dc30-4614-a4a6-44f0d04bcfad',
       'b269dff3-0f8c-41db-a327-22d2f9dd3f44',
       '8bfb9f61-4443-40f0-a26f-d2180471a610'], dtype=object)

In [18]:
session = boto3.Session(
    aws_access_key_id='AKIAXREGA2DOJTHXMVGH',
    aws_secret_access_key='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',
)

s3 = session.resource('s3')

In [49]:



s3object = s3.Object('dps-dev-s3-data-mesh-pipeline', 'coc/customer/Customer.json')

json_data = df.to_json(orient='records')

# print(json_data)

s3object.put(
    Body=json_data    
)

{'ResponseMetadata': {'RequestId': '599ZZ8NJFJXC5PM6',
  'HostId': 'ZF8XWpioP80DzWboPTNKmS5Svvo8Ii1jo2lxhbCAfPecLAt2mnaebWplQ21akPq02GLpUqvV4uM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ZF8XWpioP80DzWboPTNKmS5Svvo8Ii1jo2lxhbCAfPecLAt2mnaebWplQ21akPq02GLpUqvV4uM=',
   'x-amz-request-id': '599ZZ8NJFJXC5PM6',
   'date': 'Sun, 05 Feb 2023 21:07:11 GMT',
   'x-amz-version-id': 'Vd5nyCxgSsDG0IeB3JxRIDtKxYu2UUiT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"2a474325a63ab99d6105eee8f546a5a2"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"2a474325a63ab99d6105eee8f546a5a2"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'Vd5nyCxgSsDG0IeB3JxRIDtKxYu2UUiT'}

In [5]:
sec_df_list = []
symbols = esg_df['ticker'].to_numpy()
# symbols

In [14]:
portfolio_samples = np.random.choice(df['PORTFOLIO_ID'].to_numpy(), 1000)

rec_ids = []
port_ids = []
tickers = []
buy_dates = []
buy_values = []
num_shares = []
currs = []
owned = []
advisors = []

curr_choices = ['USD', 'JPY', 'EUR']

for n in portfolio_samples:
    
    buy_date_tmp = fake.date_between(start_date='-10y', end_date='today')
    
    buy_dates.append(buy_date_tmp)
    
    start_date = buy_date_tmp
    end_date = datetime.strptime('16/12/2022', "%d/%m/%Y")
    
    delta = relativedelta.relativedelta(end_date, start_date)
    # print(delta)
    months_owned = delta.years*12 + delta.months + delta.days/30
    
    owned.append(months_owned)
    
    rec_ids.append(fake.uuid4())
    
#     tickers.append(np.random.choice(stock_meta))
    tickers.append(np.random.choice(symbols))
    
    
    va = randrange(100, 300)
    buy_values.append(va)
    
    num_shares.append(m.floor(va/20))
    currs.append(np.random.choice(curr_choices))
    
    
    # cus_ids.append(uuid.UUID())
    port_ids.append(n)
#     port_ids.append(fake.uuid4())
    
    advisors.append(fake.uuid4())
    
    
# variables=[names,address,company,claim_reasons,claim_confidentiality_levels]
variables = [rec_ids, port_ids, tickers, buy_dates, buy_values, num_shares, currs, owned, advisors]

df_port = pd.DataFrame(variables).transpose()

df_port.columns=["R_ID", "P_ID", "TICKER", "BUY_DATE", "BUY_VALUE", "SHARES_","CURRENCY", "OWNED", "ADVISOR_ID"]
# df["Customer Address"]=df["Customer Address"].str.replace("\n",",")

# df_port.head()
# df_port# .to_csv('res.csv')

sec_df_list.append(df_port)

In [15]:
final_port_data = pd.concat(sec_df_list).reset_index(drop=True)

In [16]:
final_port_data

                                      R_ID                                  P_ID TICKER    BUY_DATE BUY_VALUE SHARES_ CURRENCY       OWNED                            ADVISOR_ID
0     7464d36f-e183-4a10-a723-820020d40e19  41c9bd8d-f257-4bec-a580-19c1f5eff411    TWR  2017-05-19       166       8      EUR        66.9  f1ccb005-c7f8-46f4-b9e3-9fc6b0ca6f83
1     4d04d589-6a81-4aee-aac2-ba70cb7b2757  ee75bfb3-e018-4419-9410-45570319da78   0JYW  2017-01-16       124       6      USD        71.0  d6b4d5c0-d889-4cf6-8401-bde0b61c6836
2     e10b0f76-8dc4-4861-84ea-a857fc1f6b91  5a4aef95-18c2-470d-9d4c-5ed874c920ce    ATO  2018-05-26       173       8      USD   54.666667  2a5b5420-b6a3-4049-9c47-1d416a75bc25
3     cdd710bc-0df1-41e9-a5bf-32fd964e5e26  7737d767-aec3-4aac-ba76-7c24312bc5cd   0J86  2021-02-24       246      12      JPY   21.733333  2eb111f2-0930-402a-b2f7-6f58247a82d1
4     c413b8e7-0977-46bf-88ad-d731ece745b3  5a4aef95-18c2-470d-9d4c-5ed874c920ce   0L5A  2015-04-05       144       7      EUR   92.366667  fb8c0e4b-02df-4c60-83ff-10990c0bdabb
...                                    ...                                   ...    ...         ...       ...     ...      ...         ...                                   ...
4995  f8796cd1-da70-47f4-830c-8a9d52b910c8  00f9cf34-97f0-4898-96ad-22ea29002c7b   0LXB  2017-10-02       269      13      EUR   62.466667  24cb091b-f47f-4845-a774-db5a887b1c07
4996  45e34db1-cc2d-4fa7-8a17-335a7fb2e95f  a91f9352-5602-4de8-b004-3ef2ab6b1f49   0LIB  2014-03-29       283      14      JPY  104.566667  3ae94ae9-4fe5-4878-98fe-f8c9c3337e90
4997  f8ea3be8-66ef-4e82-94f8-18b2486aafb5  646b050c-3181-474f-ba1a-7ec7e48888ae   QCOM  2017-11-16       132       6      JPY        61.0  9acd9444-0975-4eae-92e5-5c0cc780ad19
4998  3c18e463-92df-4bb4-95cf-4b23d9fdc547  16e457c4-cb73-472c-b504-7db3725c2e6e   0HJO  2021-08-27       264      13      EUR   15.633333  e0e5d01e-4686-4354-8780-47318287b68e
4999  6b28f504-d403-497e-9729-41f1ba04c544  85c0b076-74b8-45ac-afda-bf17b3339bb3   0I6Q  2018-09-30       179       8      USD   50.533333  7bf5e04b-7d78-46f4-aa40-fa5b8a87bab6

[5000 rows x 9 columns]

In [19]:
s3object = s3.Object('dps-dev-s3-data-mesh-pipeline', 'coc/portfolio/Portfolio.json')

json_data = final_port_data.to_json(orient='records')

# print(json_data)

s3object.put(
#     Body=(bytes(json.dumps(json_data).encode('UTF-8')))
    Body=json_data
    
)

{'ResponseMetadata': {'RequestId': '7WRXDDTQWWVH2E4X',
  'HostId': 'i5Kuwjfdyxt+tItUiMnBAsgKL4NiwAACcJBfxrcbGs/JoZkcWwP5o/YhuwejqIsmqCa86173HL6ej6/gL1dKZ9zEFc/LjY1PT6UBYp9/h3k=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'i5Kuwjfdyxt+tItUiMnBAsgKL4NiwAACcJBfxrcbGs/JoZkcWwP5o/YhuwejqIsmqCa86173HL6ej6/gL1dKZ9zEFc/LjY1PT6UBYp9/h3k=',
   'x-amz-request-id': '7WRXDDTQWWVH2E4X',
   'date': 'Mon, 13 Feb 2023 08:11:04 GMT',
   'x-amz-version-id': 'Hy16g5wXvXfUccaKh8HfN6udJko7v6Ye',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"3b0fceeb49d8d6bbdb4761612f68c057"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"3b0fceeb49d8d6bbdb4761612f68c057"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'Hy16g5wXvXfUccaKh8HfN6udJko7v6Ye'}